.prompt-input {
  padding: var(--spacing-lg);
  font-size: var(--font-size-small-md);
  width: 80%;
  max-width: 90%;
  border: 2px solid var(--color-border-input);
  border-radius: var(--border-radius-md);
  outline: none;
  background-color: var(--color-input-bg-light);
  color: var(--color-input-text);
  transition: all var(--transition-fast);
}
.prompt-input:focus {
  border-color: var(--color-border-focus); /* Change color on focus for an interactive feel */
  box-shadow: 0 0 var(--shadow-focus-size) var(--color-shadow-focus);
}

.submit-button {
  padding: var(--spacing-lg) var(--spacing-xxl);
  margin-left: var(--spacing-md);
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--color-white);
  background: linear-gradient(45deg, var(--color-link-hover), var(--color-border-active));
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: all var(--transition-fast);
}
.submit-button:hover {
  background: linear-gradient(25deg, var(--color-link-hover), var(--color-border-active));
  transform: var(--transform-slide-left); /* Adds a sliding effect on hover */
}
.submit-button:disabled {
  background: var(--color-button-disabled);
  cursor: not-allowed;
}
.submit-button:active {
  transform: scale(0.95); /* Makes the button look pressed */
}
