.centered {
  justify-content: center;
  display: flex;
  white-space: initial; 
}

.centered i {
  margin: 0 0.2em;
}

.logo-bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url('../../../public/ThinkerLogo.png');
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 30%;
  filter: blue(40px)
}
.logo-bg {
  position: relative; 
  z-index: 2;
}

.about,
.tutorial {
  padding-left: 1.5rem;
}

.beta-banner {
  width: 100%;
  z-index: 3;
}

.QA-card {
  border: 1px solid #7d7d7d;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 0.5em;
  overflow: hidden;        /* Ensures proper rendering of inner elements */
}

.QA-card > h2 {
  background-color: #7d7d7d;
  padding: 0.75em;
  margin: 0; /* Remove default heading margins */
  font-size: 1.2em;
  opacity: 0.92;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.QA-card > p {
  padding: 0.75em;
  margin: 0; /* Remove default paragraph margins */
  line-height: 1.5; /* Improves readability of the answer */
}