/* Message History Container */
.message-history-container {
  background-color: var(--color-light-bg);
  display: flex;
  flex-direction: column;
}

body.dark-mode .message-history-container {
  background: var(--color-background-dark);
  color: var(--color-text-light);
  transition: background-color var(--transition-duration) var(--transition-ease),
              color var(--transition-duration) var(--transition-ease);
}

/* Category List */
.category-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
body.dark-mode .category-list {
  background: var(--background-gradient);
  color: var(--color-text-light);
  transition: background-color var(--transition-duration) var(--transition-ease),
              color var(--transition-duration) var(--transition-ease);
}

/* Category Item */
.category-item {
  padding: var(--spacing-md) var(--spacing-lg);
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color var(--transition-duration-fast) var(--transition-ease);
  border: 0.0625em solid var(--color-border-secondary);
}
body.dark-mode .category-item {
  background: var(--background-gradient);
  color: var(--color-text-light);
  transition: background-color var(--transition-duration) var(--transition-ease),
              color var(--transition-duration) var(--transition-ease);
}
.category-item:hover {
  box-shadow: var(--shadow-hover);
}

/* Category Title */
.category-title {
  font-size: var(--font-size-large);
}

/* Message List */
.message-list {
  margin-top: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-xs);
  background-color: var(--color-light-bg);
  border-radius: var(--border-radius-sm);
}

.message-list p {
  margin: 0.0625em 0;
}

body.dark-mode .message-list {
  background: var(--background-gradient);
  color: var(--color-text-light);
  transition: background-color var(--transition-duration) var(--transition-ease),
              color var(--transition-duration) var(--transition-ease);
}

@media (max-width: 768px) {
  .category-title {
    font-size: var(--font-size-medium); /* Adjusted font size for smaller screens */
  }

  .category-item {
    padding: var(--spacing-sm) var(--spacing-md); /* Reduced padding for smaller screens */
  }

  .message-list {
    padding: var(--spacing-sm) var(--spacing-xs); /* Adjusted spacing for consistency */
  }
}