.augmented-container {
  position: relative; /* Enable positioning for the child elements */
  display: flex;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  gap: 10px; /* Space between the content and the button */
  /* Optional: Add padding or margin as needed */
  padding: 10px;
  text-align: center;
}

.augment-button {
  padding: var(--spacing-lg);
  margin-left: var(--spacing-md);
  font-size: var(--font-size-small-md);
  color: var(--color-white);
  background: linear-gradient(45deg, var(--color-border-active), var(--color-link-hover));
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: all var(--transition-fast);
}
.augment-button:hover {
  background: linear-gradient(90deg, var(--color-border-active), var(--color-link-hover));
  transform: var(--transform-lift);
}
.augment-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.markdown-augmented {
  text-align: left; /* Ensures markdown lists are well aligned */
  font-size: var(--font-size-small-lg);
  padding: var(--spacing-md);
  background-color: var(--color-markdown-augmented-bg);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-augmented);
  transition: background-color var(--transition-fast);
}
.markdown-augmented:hover {
  background-color: var(--color-markdown-hover-bg);
}
