/* Form */
.user-input-form {
  max-width: 93%;
  margin:auto;
  border: 1px solid #3434342d;
  padding: 10px;
  border-radius: 15px;
}

.prompt-input {
  font-size: var(--font-size-small-md);
  margin: auto;
  max-width: 98%;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
}

.submit-button {
  padding: var(--spacing-lg) var(--spacing-xxl);
  margin-left: var(--spacing-md);
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--color-white);
  background: linear-gradient(
    45deg, 
    var(--color-link), 
    var(--color-input-bg-dark)
  );
  border: none;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: all var(--transition-fast);
}
.submit-button:hover {
  background: linear-gradient(25deg, var(--color-input-bg), var(--color-border-active));
  transform: var(--transform-lift); /* Adds a sliding effect on hover */
}
.submit-button:disabled {
  background: var(--color-button-disabled);
  cursor: not-allowed;
}
.submit-button:active {
  transform: scale(0.95); /* Makes the button look pressed */
}

/* Message Item */

.message-item,
.file-item {
  padding: var(--spacing-md);
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--spacing-md);
  text-align: left;
  transition: transform 0.2s var(--transition-ease),
              z-index 0.2s var(--transition-ease);
  position: relative;
  cursor: pointer;
}

body.dark-mode .message-item,
body.dark-mode .file-item {
  background-color: var(--color-dark-bg);
  color: var(--color-text-light);
}

.reference-area {
  margin-bottom: '20px';
}

.error-message {
  color: red;
}

.message-item:hover,
.file-item:hover {
  transform: scale(1.001);
  z-index: 20;
  box-shadow: var(--shadow-hover);
}
.message-item strong {
  color: var(--color-text-dark);
}

/* Footer containing the delete button and timestamp */
.message-footer {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  gap: 10px; /* Space between button and timestamp */
}

.loading-message {
  font-style: italic;
  color: var(--color-text-muted);
}

.time {
  font-size: var(--font-size-small);
  opacity: var(--opacity-muted);
  text-align: right;
}

.delete-button {
  color: rgb(83, 83, 83);
  text-align: center;
  margin-right: auto;
  transition: background-color 0.3s, color 0.3s;
}
.delete-button:hover {
  background-color: red;
  color: white;
  border-color: red;
}
@media (max-width: 600px) {
  .delete-button {
      font-size: 14px;
  }
}