body {
  background-color: var(--color-white);
  color: var(--color-text);
  transition: background-color var(--transition-normal), color var(--transition-normal);
}
body.dark-mode {
  background-color: var(--color-body-bg-dark);
  color: var(--color-white);
}

.settings-container {
  max-width: 800px;
  max-height: 90vh;
  margin: var(--spacing-xxxl) auto;
  overflow-y: auto;
  padding: var(--spacing-xl);
  background: var(--color-settings-bg);
  box-shadow: var(--box-shadow-settings);
  border-radius: var(--border-radius-lg-md);
  font-family: var(--font-family-base);
}

/* Headings */
.settings-heading {
  font-size: var(--font-size-xxl);
  font-weight: bold;
  margin-bottom: var(--spacing-xl);
  text-shadow: var(--text-shadow-settings); /* Subtle glowing effect */
}

.settings-label {
  font-size: var(--font-size-lg-md);
  margin-bottom: var(--spacing-xl);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.settings-checkbox {
  transform: scale(1.5);
  accent-color: var(--color-border-active); /* Customized color for the checkbox */
}

.link:active {
  transform: translateY(0);
  background-color: var(--color-link-active-bg);
}

nav {
  margin-bottom: var(--spacing-xxl-lg);
  border-bottom: 1px solid var(--color-border-nav);
  padding-bottom: var(--spacing-lg);
}

/* Smooth Scrolling for Navigation Links */
html {
  scroll-behavior: smooth;
}

.message-settings textarea {
  width: 100%;
  min-height: 20px;
  padding: var(--spacing-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-body-bg-dark);
  resize: vertical;
  overflow-y:auto
}

.message-settings textarea:focus {
  border-color: var(--color-border-focus); /* Changing border color on focus */
}
